@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* { 
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, white, black);
    font-family: 'Roboto Slab', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.title { 
    background-color: black;
    color: white;
    margin: 10px 0 0;
    text-align: center;
    padding: 15px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.container img {
    object-fit: cover;
    margin: 10px;
    height: 300px;
    width: 300px;
    max-width: 100%;
}