@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* { 
    box-sizing: border-box;
}

body {
    background-color: darkgoldenrod;
    font-family: 'Roboto Slab', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: yellow;
    border-radius: 5px;
    border: solid red;
    color: red;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}    

.btn:hover {
    opacity: 0.7;
}

.btn:focus {
    outline: none;
}