* { 
    box-sizing: border-box;
}

body {
    /*background: linear-gradient(#3f87a6, #ebf8e1, #f69d3c, #561423);*/
    /*background: linear-gradient(#010e14, #513501, #6b3d0ccc, #480302);*/
    /*background: linear-gradient(to bottom, #CE290E 0%, #3512A4 36%, #E6DA17 100%);*/
    background: linear-gradient(#010e14, #110503, #0f0302f6, #170606);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
}

.square {
    background-color: #110a06f8;
    box-shadow: 0 0 2px #000;
    height: 16px;
    width: 16px;
    margin: 2px;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0s;
}
