 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* { 
    box-sizing: border-box;
}

body {
    background-color: orangered;    
    font-family: 'Roboto Slab', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

canvas {
    background-color: white;
    border: 2px solid black;
}

.toolbox {
    background-color: darkred;
    border: 1px solid darkgoldenrod;
    display: flex;
    width: 804px;
    padding: 1rem;
}

.toolbox > * {
    background-color: darkgoldenrod;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
}

.toolbox > *:last-child {
    margin-left: auto;
}